* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", "Helvetica Neue", Helvetica, Arial;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ui-level {
  font-size: 4rem;
  padding-top: 2rem;
}
.ui-message {
  font-size: 2rem;
}
